body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  background: var(--background);
}
    
header {
  background-image: url(../img/fond.png);
  color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
  text-align: center;
  color: var(--ecriture);
}   
nav ul li {
  display: inline;
  margin-right: 20px;
}
    
nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  color: var(--ecriture);
    
}
    
.reduction{
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: var(--background);
  background: var(--ecriture);

}

.reduc {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--background);
}

p{
  margin-top: 0;
  margin-bottom: 0;
  color: var(--ecriture);
}

h2{
  text-align: center;
  margin-top: 50PX;
  margin-bottom: 10px;
  color: var(--ecriture);
}
.photos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 400px;
}
img {
	width: 550px;
	height: 330px;
  margin-right: 30px;
  margin-top: 30px;
}
.chaussures1{
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
.chaussures2{
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
@media screen and (max-width: 780px) {
  .photos{
    flex-direction: column;
    justify-content: flex-start;
  }

}
:root {
  --ecriture: #000000;
  --background: #ffffff;
  
}

.changeTheme {
  cursor: pointer;
  width: 150px;
  height: 30px;
  background: rgb(248, 223, 0);
  color: var(--ecriture);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 45%;
  margin-top: 40px;
}
.bouton {
  border: #000000;
  background-color: #ffffff;
  font-size: 100%;
  background: var(--background);
}

.fleche{
  color: #000000;
  color:var(--ecriture);
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #696969;
}

.dropdown:hover .dropdown-content {
  display: block;
}
